i {
  font-style: italic;
}

b {
  font-weight: bold;
}

/* deprecated - use notes instead */
/* .hidden { */
/*   display: none; */
/* } */

.notes {
/*   display: none; */
}

.ru_version .source {
  display: none;
}

.translation {
/*   display: none; */
}